/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
.trow{
    float:left;
    clear: both;
    width: 100%;
    margin: 7px 0 7px 0;
}
.framethumb{
    padding: 2px;
    border: 2px solid #5A5A5C;
}
.ajaxloader{    
    background: url(public/images/ajax-loader2.gif) no-repeat center;
    position: absolute;
    width: 100%;height: 100%;
    left:0;top:0;
    z-index: 1000;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA TITULOS
 -----------------------------------------------------------------------------*/
h1.title{
    font-size: 200%;
    font-weight:normal;
    color: #48507F;
}
h2.title{
    font-size: 180%;
    font-weight:normal;
    color: #A1A5BD;
    margin: 5px 0 5px 0;
}


/*------------------------------------------------------------------------------
 - ESTILO PARA MENSAJES DEL VALIDADOR
 -----------------------------------------------------------------------------*/
.valid-success{
    background: transparent url({BASE_URL}images/icon_success.png) no-repeat left !important;
    width: 16px;
    height: 16px;
    padding: 0 0 0 18px !important;
    color: #264409 !important;
    border: none !important;
    font-size: 100% !important;
    z-index: 100;
}
.valid-error{
    background: #FBE3E4;
    color: #8a1f11;
    border: 2px solid #FBC2C4;
    padding: 3px;
    margin-top: 5px;
    font-size: 90%;
    font-weight: normal;
    min-width: 180px;
    max-width: 180px;
    text-align: left;
    z-index: 100;
    display: block;
}
.valid-highlight{border-style: dashed !important;}
.valid-unhighlight{border-style: solid !important;}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/
a.link-img{
    color:#48A5C3 !important;
}
a.link-img img{
    position: relative;
    top:3px;
}
a.link-img:hover{color:#646567 !important;}

.link-inherit, .link-inherit:link, .link-inherit:visited, .link-inherit:hover{
    color: inherit;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/
.label{
    display: block;
    float: left;
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
    font-weight: normal;
}
.label-leyend{
    font-size: 90% !important;
    font-weight: normal;
    font-style: italic;
}
.required{
    color:red;
    font-weight: bold;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button{
    border: none;
    background: url(public/images/button1.jpg) no-repeat;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    width: 82px;
    height: 26px;
}


/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "HEADER"
 -----------------------------------------------------------------------------*/
.header{
    background: url(public/images/bg-header.jpg) no-repeat;
    height: 273px;
    position: relative;
}
    .header .logo{
        float: left;
        margin: 26px 0 0 45px;
    }
    .header .text{
        position: absolute;
        left: 57px;
        top:111px;
        width: 334px;
        height: 100px;
        font-size: 130%;
        color: #A1A5BD;
        /*border: 1px solid red;*/
    }

/* MENU
 -----------------------------------------------------------------------------*/
.header-menu{
    position: absolute;
    left: 426px;
    top: 28px;
    width: 520px;
    z-index: 100;
    /*border: 1px solid red;*/
}
    .header-menu li{
        padding: 0 2px !important;
        float: left;
        background: url(public/images/separator-menu.png) no-repeat right top;
        display: inline;
    }
    .header-menu a{
        float: left;
        display: block;
        padding: 2px 13px;
        height: 22px;
        color: #FFFFFF;
        font-size: 120%;
        text-decoration: none;
    }
    .header-menu a.current,
    .header-menu a:hover{
        background: url(public/images/bg-menu.jpg) repeat-x;
    }

/* BANNER
 -----------------------------------------------------------------------------*/
    .banner{
        position: absolute;
        left:439px;
        top: 65px;
        width: 450px;
        height: 184px;
        overflow: hidden;
    }

/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "MAIN CONTAINER"
 -----------------------------------------------------------------------------*/
.main-container{
    background-color: #fff;
    padding-top: 10px;
}
.main-container-bottom{
    background: url(public/images/container-bottom.png) no-repeat;
    float: left;
    clear: left;
    width: 950px;
    height: 36px;
}
    .main-container .contents{
        float: left;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        padding-left: 20px;
        width: 480px;
    }

/* SIDEBAR
 -----------------------------------------------------------------------------*/
.main-container .sidebar{
    float: left;
    margin-left: 10px;
}
    .main-container .sidebar li{
        margin-bottom: 3px;
    }
    .main-container .sidebar li a{
        color: #8C8C8C;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
    }
    .main-container .sidebar li.current1 a.lnk1:hover, 
    .main-container .sidebar li.current2 a.lnk2:hover{text-decoration: none !important;}

    .main-container .sidebar ul.menu1{
        float: left;
        width: 224px;
        /*border: 1px solid red;*/
    }
        .main-container .sidebar ul.menu1 li.current1{
            border-bottom: 1px solid #A1A5BD;
        }
            .main-container .sidebar ul.menu1 li.current1 a.lnk1{
                color: #DE3E3B;
                font-style: italic;
            }

    .main-container .sidebar ul.menu2{
        float: left;
        /*position: absolute;
        left: 228px;
        top: 0;*/
        width: 200px;
        /*border: 1px solid green;*/
    }
        .main-container .sidebar ul.menu2 li.current2,
        .main-container .sidebar ul.menu2 li.current2 a.lnk2{
            color: #DE3E3B;
        }

/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "FOOTER"
 -----------------------------------------------------------------------------*/
.footer{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 90%;
    color: #fff;
}
.footer a{
    color: #fff;
}

    
/*------------------------------------------------------------------------------
 - ESTILO PARA LOGIN
 -----------------------------------------------------------------------------*/
.contlogin{
    width: 300px;
    margin: 0 auto;
    font-size: 90%;
}
    .contlogin fieldset{
        float: left;
        width: 300px;
        height: auto;
        padding: 5px;
    }
        .contlogin fieldset legend{
            font-size: 100%;
            margin-left: 10px;
        }
    .contlogin input{
        width: 140px;
    }
    .contlogin label{
        width: 100px;
    }

/*------------------------------------------------------------------------------
 - ESTILO PARA TABLAS
 -----------------------------------------------------------------------------*/
table{
    background-color: #D0D2DE;
    color:#8E93B0;
    border: none;
}
table td{border: none;}
table thead{
    background-color: #8E93B0;
    color: #fff;
}
    table tbody td input, table td.cell1{
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
    }
table tbody tr.row-even >td{
    background-color: #8E93B0;
    color: #fff;
}
    table tbody tr.row-even >td a{
        color: #fff;
    }
