/*------------------------------------------------------------------------------
 - ESTILO PARA EL FORMULARIO
 -----------------------------------------------------------------------------*/
.form-movie h2{
    color: #2E2E2E !important;
    font-size: 150%;
    font-weight: bold;
}
.form-movie .label{width: 60px;}
.form-movie input{width: 350px;}
.form-movie textarea{
    width: 350px;
    height: 60px;
}
.form-movie .error{
    font-size: 110%;
    width: 420px;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA EL LISTADO  (PANEL)
 -----------------------------------------------------------------------------*/
.table-movies{
    margin-top: 10px;
    clear: both;
}
    .table-movies .cell1{width: 20px;}
    .table-movies .cell2{width: 230px;}
    .table-movies .cell3{width: 290px;}
    .table-movies .cell4, .table-movies .cell5, .table-movies .cell6{
        width: 60px;
        text-align: center;
    }

/*------------------------------------------------------------------------------
 - ESTILO PARA EL LISTADO  (FRONT)
 -----------------------------------------------------------------------------*/
.cont-movie{
    float: left;
    width: 360px;
    height: 400px;
    border: 1px solid red;
}