.product{
    float: left;
    width: 150px;
    margin-right: 10px;
    margin: 0 10px 10px 0;
}
    .product .desc-top,
    .product .desc-middle,
    .product .desc-bottom{
        float: left;
        clear: left;
        background-color: #A9AEC2;
        width: 150px;
    }

    .product .desc-top{
        background: url(public/images/desc-top.jpg) no-repeat;
        height: 20px;
    }
        .product .desc-top a{
            float: right;
            font-style: italic;
            margin-right: 5px;
            color: #fff;
            font-size: 90%;
        }
            .product .desc-top a{text-decoration: none;}
    .product .desc-middle{
        color: #fff;
        padding: 0 5px 0 5px;
        width: 140px;
        font-size: 80%;
    }
    .product .desc-bottom{
        background: url(public/images/desc-bottom.jpg) no-repeat;
        height: 6px;
    }

.title-product{
    clear: both;
    position: relative;
    width: 321px;
    height: auto;
    margin: 10px auto !important;
}
    .title-product .top,.title-product .middle,.title-product .bottom{
        float: left;
        clear: left;
        width: 321px;
    }
    .title-product .top{
        background: url(public/images/desc-2-top.jpg) no-repeat top left;
        height: 10px;
    }
    .title-product .middle{
        background-color: #A9AEC2;
        width: 284px;
        height: auto;
        margin-left: 19px;
        color: #fff;
        font-weight: bold;
        font-size: 90%;
        font-style: italic;
        text-align: center;
    }
    .title-product .bottom{
        background: url(public/images/desc-2-bottom.jpg) no-repeat;
        height: 7px;
    }
